<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="#"><li>About</li></a>
                <a href="#"><li>Contact</li></a>
                <a href="#"><li>Login</li></a>
                <a href="#"><li>News</li></a>
            </ul>
        </nav>
        <h1>StarFinder Charater Management Site</h1>
    </header>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis asperiores enim nostrum numquam tenetur iusto consequuntur eum iure doloremque nisi. Earum vel repellat modi, eaque pariatur asperiores omnis rem rerum.</p>
    </section>
    <footer>
        <h6>This is the footer</h6>
    </footer>
</body>
</html>